<nav class="navbar navbar-expand-md bg-primary navbar-dark">

    <div class="container">
        <a href="" class="navbar-brand">OkusFilm</a>

        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a routerLink="/movies" class="nav-link active">Home</a></li>
            <li class="nav-item"><a routerLink="/movies" class="nav-link">Movies</a></li>
            <li class="nav-item"><a routerLink="/movies/movie-create" class="nav-link">Movie Create</a></li>
            <li class="nav-item"><a routerLink="/category/create-category" class="nav-link">Create Category</a></li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="!isAuthicantitated" class="nav-item"><a routerLink="/auth" class="nav-link active">Login</a></li>            
            <li *ngIf="isAuthicantitated" class="nav-item"><a routerLink="/logout" class="nav-link active">Logout</a></li>            
        </ul>
    </div>
</nav>